* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono';
}

*:is(button) {
    cursor: pointer;
}

html, body, #root {
    height: 100%;
}

#root #app {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#app header {
    height: 10%;
    background-color: #051937;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header #logo-title {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-style: italic;
    border: 2px solid #fff;
    border-top: none;
    font-weight: bolder;
    border-right: none;
}


header nav {
    position: relative;
    width: 100px;
    #settings-btn {
        border: none;
        color: #051937;
        font-weight: bold;
        font-size: .9em;
        background-color: #fff;
        width: 100%;
        padding: 5px;
    }
}

nav ul {
    list-style: none;
    position: absolute;
    width: 100%;
    border: 2px solid #fff;
    top: 25px;
    border-radius: 2px;
    visibility: hidden;
    button {
        border: none;
        background-color: #fff;
        padding: 10px;
        width: 100%;
        color: #fff;
        background-color: #051937;
    }
    button:first-child {
        border-bottom: 1px solid #fff;
    }
}







#app main {
    flex-grow: 1;
    display: flex;
}

main .tab {
    width: 50%;
    height: 100%;
}

main hr {
    width: 2px;
}

main #editor-tab {
    display: flex;
    flex-direction: column;
}

#editor-tab textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    resize: none;
    padding: 10px;
    flex-grow: 1;
    border: none;
    outline: none;
}

#preview-tab #preview {
    padding: 10px;
}


.tab .tab-title {
    background-color: #D9D9D9;
    height: 5%;
    align-content: center;
    padding: 5px;
    
}

main #preview-tab {
    display: flex;
    flex-direction: column;
}